<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <!-- custom css should be below bootstrap css over write garna paryo ne ta -->
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button">
          go no where
        </button>
        <button class="btn btn-sm btn-outline-secondary" type="button">
          go no where
        </button>
      </form>
    </nav>

    <div class="text-center my-3">
      <h1 class="">portfolio page</h1>
    </div>

    <div class="d-flex justify-content-center">
      <div class="text-center my-3 border border-3 border-dark p-3">
        <img
          src=""
          alt="my image"
          class="rounded-circle"
          width="200"
          height="200"
        />
      </div>
    </div>

    <div id="about me" class="my-3">
      <h2 class="text-center">about me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="flex-container text-center my-3">
      <p class="">find me on</p>
      <button class="btn btn-primary" type="submit">discord</button>
      <button class="btn btn-primary" type="submit">github</button>
      <button class="btn btn-primary" type="submit">reddit</button>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >send me a mail it might not reach me though
      </label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
